/* Imports */
/* Variables */
/* Web Font Mixins */
/* Web Fonts & Type */
@font-face {
  font-family: "PlayRegular";
  src: url("../fonts/PlayRegular.eot");
  src: url("../fonts/PlayRegular.eot#iefix") format("embedded-opentype"), url("../fonts/PlayRegular.woff2") format("woff2"), url("../fonts/PlayRegular.woff") format("woff"), url("../fonts/PlayRegular.ttf") format("truetype"), url("../fonts/PlayRegular.svg#PlayRegular") format("svg"); }
@font-face {
  font-family: "RalewayRegular";
  src: url("../fonts/RalewayRegular.eot");
  src: url("../fonts/RalewayRegular.eot#iefix") format("embedded-opentype"), url("../fonts/RalewayRegular.woff2") format("woff2"), url("../fonts/RalewayRegular.woff") format("woff"), url("../fonts/RalewayRegular.ttf") format("truetype"), url("../fonts/RalewayRegular.svg#RalewayRegular") format("svg"); }
body {
  font-family: "PlayRegular", sans-serif; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 2em; }

h4 {
  font-size: 1em; }

.charcoal {
  color: #555; }

.orange {
  color: #e96213;
  display: inline-block; }

.col-4 {
  color: #fff; }

/* Header */
.logo {
  display: inline-block;
  font-weight: bold;
  font-size: 2em;
  padding: 10px 0;
  color: #323e48; }

/* Nav */
nav {
  display: inline-block; }

ul, li {
  list-style: none;
  padding: 0;
  margin: 0; }

.nav-main li {
  float: left;
  margin-left: 2em;
  padding: 0 1em; }
  .nav-main li:hover {
    border-bottom: 3px solid #6f8594; }

.nav-sub {
  position: absolute;
  margin: 0;
  padding: 0; }

.nav-sub li {
  display: block;
  float: none;
  padding: 0;
  margin: 10px 0 0 -30px;
  border-left: 2px solid #e96213;
  background: #fff;
  opacity: .9;
  z-index: 1000; }

/* Slider */
.slider {
  background: url("../assets/images/bg-main.jpg");
  background-size: cover;
  width: 100%;
  display: inline-block;
  padding-top: 10%; }

.slider-main {
  padding-bottom: 10%; }

.slider-sub img {
  max-width: 75px; }

.our-services {
  background: url("../assets/images/bg-services.jpg");
  background-size: cover;
  width: 100%;
  display: inline-block;
  padding-top: 10%; }

/* Partners */
.partners > ul li img {
  padding-left: 5%; }

/* Body Styles */
body {
  margin: 0;
  padding: 0;
  text-align: center; }

a {
  text-decoration: none;
  color: #000; }

.container {
  width: 900px;
  margin: 0 auto; }

.container-main {
  width: 100%;
  border-top: 5px solid #e96213; }

.hidden {
  visibility: hidden; }

.col-2 {
  width: 40%;
  margin: 0 5%;
  float: left; }

.col-4 {
  width: 20%;
  margin: 0 2.5%;
  float: left; }

li img {
  display: inline-block;
  vertical-align: middle; }

.left {
  float: left; }

/* Footer */
footer {
  background-color: #6f8594; }

label {
  display: block; }

input[type=submit] {
  background-color: #1bc7a2; }

.follow ul li {
  float: left; }

.button-normal {
  background-color: #e96213;
  opacity: .8;
  width: 380px;
  height: 70px;
  margin: 0 auto;
  border-radius: 5px; }

.button-small {
  background-color: #e96213;
  opacity: .8;
  width: 220px;
  height: 40px;
  margin: 0 auto;
  border-radius: 5px; }

/*# sourceMappingURL=sass.css.map */
