.button-normal {
	background-color: $theme-orange;
	opacity: .8;
	width: 380px;
	height: 70px;
	margin: 0 auto;
	border-radius: 5px;
}

.button-small {
	background-color: $theme-orange;
	opacity: .8;
	width: 220px;
	height: 40px;
	margin: 0 auto;
	border-radius: 5px;
}