/* Nav */
nav {
	display: inline-block;
}

ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav-main li{
	float: left;
	margin-left: 2em;
	padding: 0 1em;
	&:hover {
		border-bottom: 3px solid $theme-gray;
	}
}

.nav-sub {
	position:absolute;
	margin:0;
	padding:0;
}

.nav-sub li{
	display:block;
	float:none;
	padding: 0;
	margin: 10px 0 0 -30px;
	border-left:2px solid $theme-orange;
	background: #fff;
}