/* Slider */

.slider {
	background:url("#{$paths-images}/bg-main.jpg");
	background-size: cover;
	width: 100%;
	display: inline-block;
	padding-top: 10%;
}

.slider-main {
	padding-bottom: 10%;
}

.slider-sub {
	img {
	max-width: 75px;
	}
}