/* Web Fonts & Type */

@include font-face("PlayRegular", PlayRegular);
@include font-face("RalewayRegular", RalewayRegular);

body {
	font-family: $play;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 1em;
}

.charcoal {
	color: #555;
}

.orange {
	color: $theme-orange;
	display: inline-block;
}

.col-4 {
	color: #fff
}


