/* Variables */

$paths-font: "../fonts";

$paths-images: "../assets/images";

$raleway: "RalewayRegular", sans-serif;

$play: "PlayRegular", sans-serif;

$theme-orange: #e96213;

$theme-gray: #6f8594;